{% extends "_layouts/cp" %}

{% set title = "Email Subscriptions" %}

{% set content %}
<table id="signups-table">
	<thead>
		<tr>
			<th>Email</th>
			<th>Added</th>
		</tr>
	</thead>
	<tbody>
		{% for subscription in subscriptions %}
			<tr>
				<td>{{subscription.email}}</td>
				<td>{{subscription.dateCreated}}</td>
			</tr>
		{% endfor %}
	</tbody>
</div>
{% endset %}
